@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

/* .drawer-side a.active{
  color: rgb(48, 48, 163);
}
  
.drawer-side a {
  background-color: transparent;
}
   */

.active {
  @apply font-medium tracking-wide text-blue-700 transition-colors duration-200 hover:text-blue-400;
}

.default {
  @apply font-medium tracking-wide text-gray-300 transition-colors duration-200 hover:text-blue-400;
}
